# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.db
*.tlog
*.tlog
CPPCourse_01/CPPCourse_03/Debug/CPPCourse_03.tlog/link.command.1.tlog
